* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

.meal-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.meal-input input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    margin-right: 10px;
}

.meal-input button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.meal-input button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h3 {
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 5px;
}
